* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.3;
  font-family: "Public Sans", sans-serif;
  color: $grayishBlue;
  font-size: $font-med;
  font-weight: 300;
  overflow-x: hidden;

  &.noscroll {
    overflow: hidden;
  }
}

// Text
h1,
h2,
h3 {
  margin-top: 0rem;
  font-weight: 300;
  line-height: 1.15;
  color: $darkBlue;
}

h1 {
  font-size: 3.7rem;
  margin-bottom: 2.4rem;

  @include breakpoint-up(large) {
    font-size: $font-xlg;
  }
}

h2 {
  font-size: 3rem;
  margin-bottom: 2.5rem;

  @include breakpoint-up(large) {
    font-size: 3.6rem;
    margin-bottom: 3.6rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 3.6rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

//Spacing
.container {
  max-width: 139.9rem;
  margin: 0 auto;

  &--pall {
    padding-top: 7rem;
    padding-right: 2.4rem;
    padding-bottom: 7rem;
    padding-left: 2.4rem;

    @include breakpoint-up(large) {
      padding-top: 9.6rem;
      padding-bottom: 9.6rem;
    }
  }

  &--py {
    padding-top: 7rem;
    padding-bottom: 7rem;
    @include breakpoint-up(large) {
      padding-top: 9.6rem;
      padding-bottom: 9.6rem;
    }
  }
  &--px {
    padding-right: 2.4rem;
    padding-left: 2.4rem;
  }
  &--pt {
    padding-top: 7rem;
    @include breakpoint-up(large) {
      padding-top: 9.6rem;
    }
  }
  &--pr {
    padding-right: 2.4rem;
  }
  &--pb {
    padding-bottom: 7rem;
    @include breakpoint-up(large) {
      padding-bottom: 9.6rem;
    }
  }
  &--pl {
    padding-left: 2.4rem;
  }
}

// Flexbox
@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  // flex-direction: $direction;
}

//Buttons
button,
.button {
  position: relative;
  display: inline-block;
  padding: 1.4rem 3.5rem;
  background-image: linear-gradient(to right, $limeGreen, $brightCyan);
  border-radius: 5rem;
  cursor: pointer;
  border: none;
  color: $white;
  font-weight: 400;
  font-size: $font-sm;
  color: $white;
  transition: opacity 300ms ease-in-out;

  // Video part 7 - min 57.49

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  &:hover::before {
    opacity: 1;
  }
}

// Visibility
.hide-for-mobile {
  //hide for tablet and mobile
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  // hide for desktop viewports widths
  @include breakpoint-up(large) {
    display: none;
  }
}
